<div class="container">
<% @posts.each do |post| %>
<p> Post: <%= post.id %>
  <%= post.song %> - <%= post.artist %> <%=link_to 'delete', post_path(post), method: :delete %>
  <%=link_to 'edit', edit_post_path(post)%>
    <%= post.comments.each do |comment| %>
      <p>
      &nbsp &nbsp &nbsp &nbsp Comment: <%= comment.content %>  <%=link_to 'delete', comment, method: :delete %>
    </p>
    <% end %>
</p>



<% end %>
</div>