<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>Scruffy Sounds</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <meta property="og:image" content="http://i.imgur.com/H5EE6df.jpg"/>
  <meta property="og:title" content="Discover Cool New Music"/>


  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
      <%= javascript_include_tag "rails" %>
</head>
<body>

<%= yield %>
</body>
</html>
